body, html {
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
nav {
  width: 100%;
  height: 70px;
  background: #52565e;
}
.content {
  width: 50%;
  margin: 0 auto;
}
.Options {
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 20px;
  color: #fff;
  display: inline-block;
}
.Option {
  display: inline-block;
  line-height: 40px;
  padding: 17px 10px 10px 10px;
  text-transform: uppercase;
}
.Option:hover {
  background: #46494f;
}
.ContentBox {
  width: 600px;
  height: 400px;
  margin: 160px auto;
}
